<!DOCTYPE html>
<html lang="ru">

<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Спортивная фигура быстро и с гарантией результата</title>

    <meta name="description" content="" />
    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Purouski Ilya">

	<!--<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="icon" type="image/gif" href="img/favicon.gif">-->

    <meta name="robots" content="noindex,nofollow,noodp,noarchive,nosnippet">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <!-- build:css css/main.css -->

    <!-- endbuild -->

    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

</head>

<body>
