@charset "UTF-8";

$corporate-base             : #000;
$corporate-primary          : #69b2d5;
$corporate-secondary        : #494949;
$corporate-secondary-darken : #2f2f2f;

// ------------------------------- //

$corp-base             : $corporate-base;
$corp-primary          : $corporate-primary;
$corp-secondary        : $corporate-secondary;
$corp-secondary-darken : $corporate-secondary-darken;
