<section id="stock-pdf" class="stock">
    <div class="container">
        <div class="row">
            <h3>похудение / набор массы</h3>
            <h4>для женщин и мужчин 18-55 лет</h4>
        </div>
        <div class="row">
            <div class="title">
                Ознакомьтесь с программой уже сейчас. <br />
                Скачайте бесплатный PDF-файл
            </div>
        </div>
        <div class="row">
            <a href="#" class="btn fancybox" title="скачать pdf">
                <img src="img/stocks/stock-pdf/download.png" alt="">
                <span class="vl"></span>
                скачать pdf
            </a>
        </div>
    </div>
</section>
