<section id="stock-cource" class="stock">
    <div class="container">
        <div class="row">
            <h3>получите бесплатно</h3>
            <h4>пробный курс на 14 дней</h4>
        </div>
        <div class="row">
            <div class="title">
                Составим для Вас пробный курс, <br />
                учитывая особенности организма.
            </div>
        </div>
        <div class="row">
            <a href="#" class="btn fancybox" title="получить">
                <img src="img/stocks/stock-cource/download.png" alt="">
                <span class="vl"></span>
                получить
            </a>
        </div>
    </div>
</section>
