<section id="contents_set">
    <div class="container">
        <div class="row">
            <h3>Cодержимое набора</h3>
        </div>
    </div>

    <div class="contents_set-block">
        <div class="cfs cfs-training_diary">
            <div class="container">
                <div class="row">
                    <div class="visual">
                        <img src="img/contents_set/training_diary/visual.png" alt="Дневник тренировок" />
                    </div>
                    <div class="desc">
                        <h4>Дневник тренировок</h4>
                        <p>
                            Следуйте пошаговому плану, в котором подробно <br />
                            расписаны Ваши действия на день
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cfs cfs-right cfs-feeding_program">
            <div class="container">
                <div class="row">
                    <div class="desc">
                        <h4>Программа питания</h4>
                        <p>
                            Соблюдайте ежедневную инструкцию, где каждый <br />
                            приём пищи рассчитаны вплоть до грамма
                        </p>
                    </div>
                    <div class="visual">
                        <img src="img/contents_set/feeding_program/visual.png" alt="Программа питания" />
                    </div>
                </div>
            </div>
        </div>

        <div class="cfs cfs-personal_companion">
            <div class="container">
                <div class="row">
                    <div class="visual">
                        <img src="img/contents_set/personal_companion/visual.png" alt="Личный напарник" />
                    </div>
                    <div class="desc">
                        <h4>Личный напарник</h4>
                        <p>
                            Поставьте цель вместе с новым другом и <br />
                            двигайтесь к ней в два раза быстрее
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cfs cfs-right cfs-coach_online">
            <div class="container">
                <div class="row">
                    <div class="desc">
                        <h4>Онлайн тренер</h4>
                        <p>
                            Узнайте все правила построения красивого тела <br />
                            из курса лекций от нашего специалиста
                        </p>
                    </div>
                    <div class="visual">
                        <img src="img/contents_set/coach_online/visual.png" alt="Онлайн тренер" />
                    </div>
                </div>
            </div>
        </div>

        <div class="cfs cfs-sports_nutrition">
            <div class="container">
                <div class="row">
                    <div class="visual">
                        <img src="img/contents_set/sports_nutrition/visual.png" alt="Спортивное питание" />
                    </div>
                    <div class="desc">
                        <h4>Спортивное питание</h4>
                        <p>
                            Порадуйте свой организм полезными добавками, <br />
                            которых ему так не хватает и получи сверх результат
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
