<section id="packages">
    <div class="container">
        <div class="row">
            <h3>выберите свой набор</h3>
            <div class="title">Начните уже сегодня меняться под нашим руководством</div>
        </div>
        <div class="content_packages">
            <div class="row">
                <div class="content_package content_package-face content_package-min">
                    <h4>минимальный</h4>

                    <div class="visual">
                        <img src="img/packages/min/visual.png" alt="коробка" />
                    </div>

                    <div class="desc">
                        для тех, кто испытывает <br />
                        финансовые трудности
                    </div>

                    <div class="price">
                        540 000 руб.
                    </div>

                    <a href="#" class="btn btn_face btn-more" title="узнать всю информацию">
                        узнать подробнее
                        <img src="img/packages/artr.png" alt="" />
                    </a>
                </div>
                <div class="content_package content_package-ref content_package-min">
                    <div class="btn_exit"></div>
                    <h4>минимальный</h4>

                    <img src="img/packages/min/stars.png" alt="1.5 звезды" />

                    <div class="title highlighted">
                        состав персонального набора
                    </div>

                    <div class="content_pack">
                        <p><span>программа питания:</span><span class="dn">Стандартная</span></p>
                        <p><span>программа тренировок:</span><span class="dn">Стандартная</span></p>
                        <p><span>напарник:</span><span class="dn">новичок</span></p>
                        <p><span>онлайн тренер:</span><span class="dn">1 занятие</span></p>
                    </div>

                    <div class="price highlighted">
                        540 000 руб.
                    </div>

                    <div class="buttons-block">
                        <a href="#" class="btn fancybox" title="узнать всю информацию">
                            узнать всю информацию
                        </a>
                        <a href="#" class="btn btn-img fancybox" title="заказать набор">
                            <img src="img/packages/v.png" alt="V" />
                            <span class="vl"></span>
                            заказать набор
                        </a>
                    </div>
                </div>

                <div class="content_package content_package-face content_package-umi">
                    <h4>умеренный</h4>

                    <div class="visual">
                        <img src="img/packages/umi/visual.png" alt="коробка" />
                    </div>

                    <div class="desc">
                        для тех, кто экономит и готов <br />
                        выкладываться больше
                    </div>

                    <div class="price">
                        1 190 000 руб.
                    </div>

                    <a href="#" class="btn btn_face btn-more" title="узнать всю информацию">
                        узнать подробнее
                        <img src="img/packages/artr.png" alt="" />
                    </a>
                </div>
                <div class="content_package content_package-ref content_package-umi">
                    <div class="btn_exit"></div>
                    <h4>умеренный</h4>

                    <img src="img/packages/umi/stars.png" alt="1.5 звезды" />

                    <div class="title highlighted">
                        состав персонального набора
                    </div>

                    <div class="content_pack">
                        <p><span>программа питания:</span><span class="dn">пошаговая</span></p>
                        <p><span>программа тренировок:</span><span class="dn">пошаговая</span></p>
                        <p><span>напарник:</span><span class="dn">средняя подготовка</span></p>
                        <p><span>онлайн тренер:</span><span class="dn">3 занятия</span></p>
                        <p><span>спортивное питание:</span><span class="dn">1 вид</span></p>
                        <p><span>спортивный инвентарь:</span><span class="dn">1 вид</span></p>
                    </div>

                    <div class="price highlighted">
                        1 190 000 руб.
                    </div>

                    <div class="buttons-block">
                        <a href="#" class="btn fancybox" title="узнать всю информацию">
                            узнать всю информацию
                        </a>
                        <a href="#" class="btn btn-img fancybox" title="заказать набор">
                            <img src="img/packages/v.png" alt="V" />
                            <span class="vl"></span>
                            заказать набор
                        </a>
                    </div>
                </div>

                <div class="content_package content_package-face content_package-opti">
                    <h4>оптимальный</h4>

                    <div class="visual">
                        <img src="img/packages/opti/visual.png" alt="коробка" />
                    </div>

                    <div class="desc">
                        для тех, кто знает себе цену <br />
                        и не экономит на качестве
                    </div>

                    <div class="price sale">
                        <div class="old_price">2 840 000 руб.</div>
                        1 940 000 руб.
                    </div>

                    <a href="#" class="btn btn_face btn-more" title="узнать всю информацию">
                        узнать подробнее
                        <img src="img/packages/artr.png" alt="" />
                    </a>
                </div>
                <div class="content_package content_package-ref content_package-opti">
                    <div class="btn_exit"></div>
                    <h4>оптимальный</h4>

                    <img src="img/packages/opti/stars.png" alt="1.5 звезды" />

                    <div class="title highlighted">
                        состав персонального набора
                    </div>

                    <div class="content_pack">
                        <p><span>программа питания:</span><span class="dn">пошаговая</span></p>
                        <p><span>программа тренировок:</span><span class="dn">пошаговая</span></p>
                        <p><span>напарник:</span><span class="dn">высокая подготовка</span></p>
                        <p><span>онлайн тренер:</span><span class="dn">5 занятий</span></p>
                        <p><span>спортивное питание:</span><span class="dn">2 вида</span></p>
                        <p><span>спортивный инвентарь:</span><span class="dn">2 вида</span></p>
                    </div>

                    <div class="additional trenning">
                        <p>
                            <span class="dn">онлайн тренинг</span> “Кулинарные секреты <br />
                            здорового и вкусного питания”
                        </p>
                        <p>
                            <span class="dn">онлайн тренинг</span> “здоровая и счастливая <br />
                            жизнь без вредных привычек”
                        </p>
                    </div>

                    <div class="price highlighted">
                        1 940 000 руб.
                    </div>

                    <div class="buttons-block">
                        <a href="#" class="btn fancybox" title="узнать всю информацию">
                            узнать всю информацию
                        </a>
                        <a href="#" class="btn btn-img fancybox" title="заказать набор">
                            <img src="img/packages/v.png" alt="V" />
                            <span class="vl"></span>
                            заказать набор
                        </a>
                    </div>
                </div>

                <div class="content_package content_package-face content_package-max">
                    <h4>максимальный</h4>

                    <div class="visual">
                        <img src="img/packages/max/visual.png" alt="коробка" />
                    </div>

                    <div class="desc">
                        ДЛЯ ТЕХ, КТО хочет БЫСТРЫЙ <br />
                        И КАЧЕСТВЕННЫЙ РЕЗУЛЬТАТ
                    </div>

                    <div class="price sale">
                        <div class="old_price">5 240 000 руб.</div>
                        3 660 000 руб.
                    </div>

                    <a href="#" class="btn btn_face btn-more" title="узнать всю информацию">
                        узнать подробнее
                        <img src="img/packages/artr.png" alt="" />
                    </a>
                </div>
                <div class="content_package content_package-ref content_package-max">
                    <div class="btn_exit"></div>
                    <h4>максимальный</h4>

                    <img src="img/packages/max/stars.png" alt="1.5 звезды" />

                    <div class="title highlighted">
                        состав персонального набора
                    </div>

                    <div class="content_pack">
                        <p><span>программа питания:</span><span class="dn">уникальная</span></p>
                        <p><span>программа тренировок:</span><span class="dn">уникальная</span></p>
                        <p><span>напарник:</span><span class="dn">член команды viner</span></p>
                        <p><span>онлайн тренер:</span><span class="dn">9 занятий</span></p>
                        <p><span>спортивное питание:</span><span class="dn">3 вида</span></p>
                        <p><span>спортивный инвентарь:</span><span class="dn">3 вида</span></p>
                    </div>

                    <div class="additional trenning">
                        <p>
                            <span class="dn">онлайн тренинг</span> “Кулинарные секреты <br />
                            здорового и вкусного питания”
                        </p>
                        <p>
                            <span class="dn">онлайн тренинг</span> “здоровая и счастливая <br />
                            жизнь без вредных привычек”
                        </p>
                    </div>

                    <div class="additional bonus">
                        <p>
                            <img src="img/packages/max/bonus.png" alt="Бонус">
                            <span class="dn">+bonus</span> <br />
                            курс "Искусство отношений <br />
                            с противоположным полом"
                        </p>
                    </div>

                    <div class="price highlighted">
                        3 660 000 руб.
                    </div>

                    <div class="buttons-block">
                        <a href="#" class="btn fancybox" title="узнать всю информацию">
                            узнать всю информацию
                        </a>
                        <a href="#" class="btn btn-img fancybox" title="заказать набор">
                            <img src="img/packages/v.png" alt="V" />
                            <span class="vl"></span>
                            заказать набор
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
