<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="content">
                <h3>сомневаетесь в покупке набора?</h3>
                <h4>у нас есть бесплатный курс!</h4>
                <div class="title">
                    Оставьте заявку прямо сейчас и получите пробный <br />
                    14-дневный  курс бесплатно
                </div>

                <div class="buttons-block">
                    <a href="#" class="btn btn-img fancybox" title="получить пробный курс">
                        <img src="img/footer/v.png" alt="V" />
                        <span class="vl"></span>
                        получить пробный курс
                    </a>
                    <a href="#" class="btn fancybox" title="заказать полный набор">
                        заказать полный набор
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div id="down">
        <div class="container">
            <div class="row">

                <div class="copyright">
                    <p>&copy; 2015 VINER</p>
                    <p>Все права защищены.</p>
                    <p>Любое копирование материалов разрешено только с согласия правообладателя.</p>
                    <p>По всем вопросам пишите: info.viner@gmail.com</p>
                </div>

                <div class="links">
                    <a href="#" id="policy" class="fancybox" title="Политика конфеденциальности"><span>Политика конфиденциальности</span></a>
                    <a href="#" id="PDF_pres" class="fancybox" title="Скачать PDF-презентацию"><span>Скачать PDF-презентацию</span></a>
                </div>

                <div class="soc_block">
                    <a href="http://vk.com/share.php?url=http://viner.by/" class="soc vk share" title="Вконтакте" target="_blank"></a>
                    <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl=viner.by" class="soc ok share" title="Одноклассники" target="_blank"></a>
                    <a href="http://www.facebook.com/share.php?u=http://viner.by/" class="soc f share" title="Facebook" target="_blank"></a>

                    <p class="cta">Ищи #viner в социальных сетях</p>
                </div>

            </div>
        </div>
    </div>
</footer>
