<header id="header">
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="left">
                    <p class="logo">
                        <img src="img/header/top/small_logo.png" alt="viner" />
                        <span>viner.by</span>
                    </p>
                    <p class="desc">
                        Коррекция фигуры в Беларуси
                    </p>
                </div>
                <div class="right">
                    <div class="phone">
                        <img src="img/header/top/phone_icon.png" alt="телефон">
                        <a href="tel:80257201242">8 025 720 12 42</a>
                        <a href="#" class="btn fancybox" title="задать вопрос">
                            задать вопрос
                            <img src="img/header/top/btn_ar.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-block">
            <div class="row">
                <h1>Cпортивная ФИГУРА</h1>
                <h2>быстро и с гарантией результата</h2>
                <hr />
            </div>

            <div class="row">
                <div class="sponsion">
                    <div class="sponsion-block">
                        <h3>Бесплатно приведём вас в форму</h2>
                        <h4>Eсли не будет результата в заданный срок</h3>
                    </div>
                    <div class="rhombus"></div>
                </div>
            </div>

            <div class="row">
                <div class="number_of_result">
                    <div class="number_of_result-block">
                        <div class="number_of_result-block-number">
                            87,3%
                        </div>
                        <div class="number_of_result-block-desc">
                            Добились результата <br />
                            в срок
                        </div>
                    </div>
                    <div class="number_of_result-block">
                        <div class="number_of_result-block-number">
                            9,1%
                        </div>
                        <div class="number_of_result-block-desc">
                            <div class="block">
                                Добились результата <br />
                                позже
                            </div>
                        </div>
                    </div>
                    <div class="number_of_result-block">
                        <div class="number_of_result-block-number">
                            3,6%
                        </div>
                        <div class="number_of_result-block-desc">
                            <div class="block">
                                Не дошли до конца <br />
                                проекта
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="arrow_down-block">
        <div class="ard"></div>
        <div class="ard"></div>
    </div>

    <div class="trigger">
        <span class="mouse"></span>
        <img src="img/header/arrow_trigger.svg">
    </div>
</header>
